*.1
/layers-*
/skopeo
result
/completions/
# ignore JetBrains IDEs (GoLand) config folder
.idea

# ignore Visual Studio Code config folder
.vscode/

# Ignore Git metadata directory
.git/

# Ignore the bin directory
bin

# Ignore Windows executable files
*.exe
